/SistemasClienteServidor/prj_aula_02/build/
/SistemasClienteServidor/WMatricula/nbproject/private/
/SistemasClienteServidor/WMatricula/build/
/SistemasClienteServidor/WMatricula/dist/
/SistemasClienteServidor/WCalculadora/nbproject/private/
/SistemasClienteServidor/WCalculadora/build/
/SistemasClienteServidor/Estudos/WCrud/nbproject/private/
/SistemasClienteServidor/Estudos/WebCrud/nbproject/private/
/SistemasClienteServidor/Estudos/WebCrud/build/
