* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #262f88;
    color: #5ae266;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
}

.container {
    text-align: center;
    border: 1px solid #0a2264;
    padding: 20px; 
    background-color: #1e3c8d;
}

.conteudo {
    display: inline;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Add some styling to your form elements */
.texto {
    margin: 10px 0;
    padding: 10px;
    display: block;
    border-radius: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}
p{
    margin: 20px 10px;
    padding: 30px;
}

.btn {
    background-color: #1b2791;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin:20px 10px;
}
.btn:hover{
    background-color: #8491b6;
}
