<h1 style="text-align: center; margin-top:70px;background-color:rgba(255, 255, 255, 0.2);">
    Bem vindo ao site de viagens!
</h1>
<div id="alterar" class="container" style="display: flex; align-items:
      center; justify-content: center; text-align: center; margin-top: 110px; margin-bottom:20px;
      color: #020225; width: 450px; border-radius: 3px;">



    <img src="~/imagens/20CHECKIN1-superJumbo.jpg" alt="hotel" width="600px" height="300px">

</div>
<br>

<p style="text-align: center; background-color:rgba(255, 255, 255, 0.6);">
    Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Sequi laboriosam natus earum velit dolore veniam molestiae, accusamus tenetur 
    dolorem repellat ab, eos aperiam odit tempora sint aliquid a, sit laborum! Ullam voluptas 
    unde ipsum iste quos ipsa corporis optio, pariatur a? Tenetur rerum enim perspiciatis magnam 
    id tempore maxime maiores? </p>

<ul class="list-group" style="display:flex;text-align: center;align-items: center; 
justify-content: left; border:none; background-color:rgba(255, 255, 255, 0.1);">
    <li class="list-group-item" style="border:none;background-color:rgba(255, 255, 255, 0.6);">Selecione o seu Destino!</li>
    <li class="list-group-item" style="border:none;background-color:rgba(255, 255, 255, 0.6);">Descontos primeira viagem!</li>
    <li class="list-group-item" style="border:none;background-color:rgba(255, 255, 255, 0.6);">Realize seu sonho!</li>
    <li class="list-group-item" style="border:none;background-color:rgba(255, 255, 255, 0.6);">Destinos atualizados todos os dias!</li>
    <li class="list-group-item" style="border:none;background-color:rgba(255, 255, 255, 0.6);margin-bottom:30px;">Parcelamento sem juros!</li>
</ul>

