
<div style="display: flex; align-items:
center; justify-content: center; text-align: center; margin-top: 20px; margin-bottom:20px; margin-left:300px;
width: 450px; border-radius: 3px; background-color:rgba(255, 255, 255, 0.3);font-family:Verdana;">
    <h1>
        Sobre Nós :
    </h1>
<div class="card" style="width: 18rem;">
    <img src="~/imagens/atendimento.jpg" class="card-img-top" alt="...">
    <div class="card-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Sapiente rem illo necessitatibus molestias atque amet natus qui,
            labore consequuntur distinctio animi at beatae et adipisci consequatur nisi dolor alias.
            Libero quidem possimus dolorum, perspiciatis ea et mollitia deserunt quo
           consequatur repudiandae corrupti itaque atque qui fugiat voluptatem nobis soluta dolore.
        <p class="card-text">

        </p>
    </div>
</div>
</div>