<div style="display: flex; align-items: center; 
justify-content: center; text-align: center; margin-top: 20px;
margin-bottom: 20px; margin-left: 300px; width: 600px; border-radius: 3px; 
background-color: rgba(255, 255, 255, 0.3); font-family: Verdana; display:block; padding:100px;">
    <h1>
        Contato : 
    </h1>

    <br />
    
    <div class="input-group mb-3" ">
        <span class="input-group-text" id="basic-addon1">Nome</span>
        <input type="text" class="form-control" placeholder="Digite seu Nome" aria-label="Nome" aria-describedby="basic-addon1">
    </div>

    <br />

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Email</span>
        <input type="text" class="form-control" placeholder="Digite seu Email" aria-label="Email" aria-describedby="basic-addon2">
    </div>

    <br />
    <label style="background-color: rgba(255, 255, 255, 0.3)";> Digite uma mensagem </label>
   <br />
    <input type="text" class="form-control" placeholder="Mensagem" aria-label="Telefone"
           aria-describedby="basic-addon3" style="width:400px; height:100px;"> <br />
    <br />
    <input type="submit" value="Enviar" style="border-radius: 4px; background-color: rgb(104, 104, 216); color: white; border: none; padding: 7px;">
</div>